<header class="site-header">

  <div class="wrapper">

    <div id="headerlogocontent">
      <div id="headerlogo">
        <a id="headerlogo-link" href="/" title="Medicare.gov - the Official U.S. Government Site for Medicare">
          <img src="{{ site.baseurl }}/images/blog-logo-medicare.png" alt="Medicare.gov - the Official U.S. Government Site for Medicare">
        </a>
      </div>
    </div>

  <!--

    <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <h3>{{ site.tagline }}</h3>

 -->



  </div>



</header>

<ol class="breadcrumb">
    <li><a href="/blog/">Home</a>
    <li class="active">Blog</li>
</ol>
