<header class="site-header">

  <div class="wrapper">

<div id="headerlogocontent">
  <div id="headerlogo">
    <a id="headerlogo-link" href="/" title="Medicare.gov - the Official U.S. Government Site for Medicare">
      <img src="//assets.cms.gov/Resources/Medicare/Images/home/logoSprite.png" alt="Medicare.gov - the Official U.S. Government Site for Medicare">
    </a>
  </div>
</div>

  <!--

    <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <h3>{{ site.tagline }}</h3>

 -->



  </div>



</header>

<ol class="breadcrumb">
    <li><a href="/medicare-blog/">Home</a>
    <li class="active">Blog</li>
</ol>
